{{! Maintainers - Kevin Corry}}
<a href="#" class="trickle-button">
  <h6>
    {{#if _trickle.button.continue}}
      {{{_trickle.button.continue}}}
    {{else}}
      Continue
    {{/if}}
  </h6>
</a>
