{{{a11y_aria_label _globals._extensions._trickle.incompleteContent}}}

<div class="trickle__inner js-trickle-btn-container {{_trickle._button._component}}__inner {{#unless _isButtonVisible}} u-display-none{{/unless}}">

  <button {{#if buttonAriaLabel}}aria-label="{{buttonAriaLabel}}" {{/if}}class="trickle__btn js-trickle-btn{{#if _isButtonDisabled}} is-disabled{{#if _isButtonVisible}} is-locked{{/if}}{{/if}}{{#if _trickle._button._hasIcon}} btn-icon{{/if}}{{#if buttonText}} btn-text{{/if}}"{{#if _isButtonDisabled}} aria-disabled="true"{{/if}}>

    {{#if _trickle._button._hasIcon}}
    <span class="trickle__btn-icon">
      <span class="icon" aria-hidden="true"></span>
    </span>
    {{/if}}

    {{#if buttonText}}
    <span class="trickle__btn-text">
      <span class="trickle__btn-text-inner js-trickle-btn-text">
        {{buttonText}}
      </span>
    </span>
    {{/if}}

  </button>

</div>
